<!DOCTYPE html>
<html>
<head>
  <title>Rails pretty logger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag(
    "rails/pretty/logger/application",
    "rails/pretty/logger/dashboards",
    "rails/pretty/logger/list",
    media: "all"
  ) %>
</head>
<body>

<%= yield %>

</body>
</html>
