<% if @log_file_list.count == 0 %>
  <div>
    <h1 class="message">There is no log file to show</h1>
  </div>

<%  elsif stdout?%>
  <div>
    <h1 class="message">  "RAILS_LOG_TO_STDOUT" is present. no logs kept, remove it for logging </h1>
  </div>

<% else %>
  <div class="logger_navbar">
    <p>
      <%= link_to('Hourly logs', hourly_logs_path, html_options = {class: "dashboard_button"}) %>
    </p>
      Log Files:
      <% @log_file_list .each do |key, value| %>
        <%= link_to(trim_name(value.fetch(:file_name)),
        logs_dashboards_path(log_file: value.fetch(:file_name), date_range: { start: time_now, end: time_now }),
        html_options = {class: "dashboard_button",
        data: { confirm: "Log file size is #{ value[:file_size] } MB. Are you sure to open this file? " }}) %>

        <%= link_to("x",
        clear_logs_dashboards_path(log_file: value.fetch(:file_name)),
        html_options = {class: "clear_logs",
        method: :post,
        data: { confirm: "Are you sure to clear all logs from #{value.fetch(:file_name).capitalize}? " }}) %>
      <% end %>

  </div>
<% end %>
