
<div class="logger_navbar">
  <p>
    <%= link_to(path_name, hourly_logs_path, html_options = {class: "dashboard_button"}) %>
  </p>
  Log Files:
  <% Rails::PrettyLogger::PrettyLogger.get_log_file_list.each do |key, value| %>
  <%= link_to(trim_name(value[:file_name]),
      logs_dashboards_path(log_file: value[:file_name], date_range: { start: time_now, end: time_now }),
      html_options = {class: "#{file_active?(value[:file_name], params)}",
      data: { confirm: "Log file size is #{ value[:file_size] } MB. Are you sure to open this file? " }}) %>
  <% end %>
</div>
<hr>
