/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* colors:
	#000000 - black
	#ac0010 - red
	#484848 - dark grey
	#ffb62a - yellow
	#dadada - grey
	#f1f1f1 - light grey
	#20283e - dark blue
	#559FAF - light blue
	#488a99 - blue
	#ffffff - white
*/
.navbar {
	color: #000000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:16px;
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
}

.hour-list {
	color: #000000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:16px;
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
}

.hour-list:first-child {
	padding: 20px;
	background: #f1f1f1 ;
	color: #dadada;
}
.navbar:first-child {
	padding: 20px;
	background: #ac0010;
	color: #dadada;
}

.navbar:first-child > a {
	display:inline-block;
	text-decoration: none;
	background-color: #ac0010;
	color: #dadada;
	padding: 8px;
	margin: 3px;
	border-radius: 5px;
	border: #dadada 1px solid;
}

body div:first-child > a:hover {
	background-color: #559FAF;
	color: #ffffff;
	border: #ffffff 1px solid;
}

a {
	display: inline-block;
	text-decoration: none;
	background-color: #f1f1f1;
	color: #484848;
	padding: 3px 3px;
	margin-left: 1px;
	border-radius: 5px;
	/* border: #484848 1px solid; */
}

a:hover {
	color:#dadada;
	background-color:#484848;
}

hr {
	margin: 8px 0;
	border:0;
	border-bottom: #dadada 1px solid;
}

.form-group {
	background-color: #dadada;
	padding: 5px 0;
	margin: 15px 20px 30px 20px;
	border-radius: 5px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.form-group p {
	color: #000000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

p {
	padding: 6px 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:16px;
}

.highlight {
	display: inline-block;
	background-color:#ffb62a;
	padding: 6px 10px;
	margin-left: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

input {
	border-radius: 2px;
	border: #484848 1px solid;
	padding: 5px 10px;
	margin: 3px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #484848;
	font-size: 14px;
	margin-right: 20px;
}

input[type=submit]{
	font-size:16px;
	padding: 8px 10px;
	border-radius: 3px;
	background-color: #ac0010;
	color: #ffffff;
	border: none;
}

input[type=submit]:hover {
	background-color: #20283e;
	color: #dadada;
}

.dashboard {
	display: block;
	background: none!important;
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 100px;
	text-align: center;
}

.dashboard a {
	margin: 8px 10px;
}


.clear_logs {
  background-color: #F62817 !important ;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.dashboard_button{
	  padding: 15px 32px !important ;
		margin-left: 30px !important ;
		position: right !important;
}

.active{
	background-color: #559FAF !important ;
}

.message{
	text-align: center;
}


.list {
font-family:sans-serif;
}
td {
padding:10px;
border:solid 1px #eee;
}

input {
border:solid 1px #ccc;
border-radius: 5px;
padding:7px 14px;
margin-bottom:10px
}
input:focus {
outline:none;
border-color:#aaa;
}
.sort {
padding:8px 30px;
border-radius: 6px;
border:none;
display:inline-block;
color:#fff;
text-decoration: none;
background-color: #28a8e0;
height:30px;
}
.sort:hover {
text-decoration: none;
background-color:#1b8aba;
}
.sort:focus {
outline:none;
}
.sort:after {
display:inline-block;
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid transparent;
content:"";
position: relative;
top:-10px;
right:-5px;
}
.sort.asc:after {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #fff;
content:"";
position: relative;
top:4px;
right:-5px;
}
.sort.desc:after {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid #fff;
content:"";
position: relative;
top:-4px;
right:-5px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

ul {
  list-style-type: none;
}
