/* colors:
	#ac0010 - red
	#89000C - dark red
	#f1f1f1 - light grey
    #515151 - dark gray
	#ffffff - white
*/
body {
	color: #000000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:16px;
	padding: 0 30px;
	margin: 0;
	background-color: #f1f1f1;
}
a {
	display:inline-block;
	text-decoration: none;
	background-color: #f1f1f1;
	color: #515151;
	padding: 5px 5px;
	margin: 3px;
	border-radius: 5px;
	border: #515151 1px solid;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:hover {
	background-color: #89000C;
	color: #ffffff;
	border: #ffffff 1px solid;
}
.active {
	background-color: #ffffff!important;
	color: #ac0010!important;
	border: #89000C 1px solid!important;
}
hr {
	margin: 8px 0;
	border:0;
	border-bottom: #ffffff 1px solid;
}
.logger_navbar {
	background-color: #ac0010;
	padding: 20px 30px 10px;
	margin: 0 -30px;
	color: #f1f1f1;
}
.logger_navbar > p {
	margin-bottom: 20px;
	margin-left: -8px;
}
.logger_navbar > p > .dashboard_button {
	padding: 8px 10px;
	margin: auto 20px auto auto;
	color: #f1f1f1;
	background-color: #ac0010;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border:none;
}
.logger_navbar > p > .dashboard_button:hover {
	background-color: #89000C;
	border: none;
}
.logger_navbar > a {
	display: inline-block;
	text-decoration: none;
	background-color: #ac0010;
	color: #f1f1f1;
	padding: 8px 10px;
	margin: auto auto 10px 20px;
	border-radius: 5px;
	border: #f1f1f1 1px solid;
}
.logger_navbar > .dashboard_button {
	border-radius: 5px 0 0 5px;
}

.logger_navbar > .clear_logs {
	display: inline-block;
	text-decoration: none;
	background-color: #ac0010;
	color: #f1f1f1;
	padding: 8px 10px;
	margin: auto auto auto -5px;
	border-radius: 0 5px 5px 0;
	border: #f1f1f1 1px solid;
}
.logger_navbar > a:hover {
	color:#f1f1f1;
	background-color:#89000C;
}
.logger_navbar > .clear_logs:hover {
    color: #89000C;
    background-color: #FFFFFF;
}
p {
	padding: 6px 0;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size:16px;
}
.form-group {
	background-color: #dadada;
	padding: 5px 20px;
	margin: 15px 0;
	border-radius: 5px;
}
.form-group p {
	color: #515151;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
input {
	border-radius: 2px;
	border: none;
	padding: 8px 10px;
	margin: 3px 20px 3px 3px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #5E5E5E;
	font-size: 14px;
}
input[type=submit]{
	font-size:16px;
	padding: 8px 10px;
	border-radius: 3px;
	background-color: #5E5E5E;
	color: #f1f1f1;
	border: none;
}
input[type=submit]:hover {
	background-color: #437085;
	color: #f1f1f1;
}
.form-group .clear_logs {
	background-color: #ac0010;
	border: none;
	color: #f1f1f1;
}
.form-group .clear_logs:hover {
	background-color: #89000C;
}
.hourly-list .search {
	margin: 30px 20px 30px 50px;
	border-radius: 2px;
	border: #515151 1px solid;
	padding: 8px 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #5E5E5E;
	font-size: 14px;
}
.hourly-list .sort {
	font-size:16px;
	padding: 8px 20px;
	border-radius: 3px;
	background-color: #5E5E5E;
	color: #f1f1f1;
	border: none;
}
.hourly-list .sort:hover {
	background-color: #437085;
	color: #f1f1f1;
}
.hourly-list .list {
	padding-left: 50px;
}
.hourly-list .list li{
	list-style: none;
	display: block;
	width: auto;
	margin-right: 50px;
	float: left;
}
.hourly-list .list li h5 {
	marging-top: 30px;
	margin-bottom: 30px;
}
.highlight {
	background-color:#ffb62a;
}
